#h1 {
    text-align: center;
}

#description {
    text-align: center;
}

/* -------------- DROPDOWN PANEL -------------- */

#dropdown_panel {
    margin-top: 40px;
}

#x_axis_label {
    text-align: left;
    margin-bottom: 10px; 
    font-size: 16px;
}

#y_axis_label {
    text-align: left;
    margin-bottom: 10px; 
    font-size: 16px;
}

#dropdown_x_container {
    width: 48%;
    display: inline-block;
}


#dropdown_y_container {
    width: 48%;
    float: right;
}

/* -------------- MAIN PANEL -------------- */

#main_panel {
    float: left;
    margin-top: 0px;
    width: 85%;
}

#main-graph {
    height: 650px;
}

/* -------------- SIDE PANEL -------------- */

#side_panel {
    width: 15%;
    margin-top: 48px;
    background: rgba(0, 128, 0, 0.04);
    float: left;
}


#label_options {
    text-align: center;
    font-size: 20px;
    margin-bottom: 8px;
}

#radio {
    margin-left: 30%;
    display: block;
}

#filler {
    text-align: center;
    font-size: 20px;
    margin-bottom: 8px;
    visibility: hidden;
}